$primary: #17c1c1;
$primary-dark: #13a3a3;
$primary-light: #15b2b2;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}



// header
.header{

  &-nav {
    &__logo {

    }

    &__links {
      
    }
  }
}