.info-field {
    margin-bottom: 1.5rem;

    h4 {
        margin-bottom: 0;
        font-weight: bold;
    }

    .social-icons {

        & > * {
            margin-right: 1rem;
        }

        a {
            text-decoration: none;
            color: inherit;
            font-size: 16; 
            
        }
    }

}

.card {
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 3px;

}