/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/test-config/**
/tests/fixtures/**
/tests/performance/**
/tmp/**

# Add any other files or folders that you want eslint to ignore