body {
  font-size: 1.4rem;
  font-family: $font-primary;
  font-weight: 400;
}

.heading-1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.heading-2 {
  text-transform: uppercase;
  font-size: 3rem;
}