$color-primary: #0074D9;
$color-primary-dark: #0360b1;
$color-primary-light: rgb(7, 134, 245);
$color-secondary: #39393C;
$color-white: #fff;
$color-black: #111;
$color-gray-light: #F5F5F5;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Poppins', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; // 1200
$bp-lg: 56.25em; // 900
$bp-md: 43.75em; // 700
$bp-sm: 37.5em;
