$color-primary: #17c1c1;
$color-primary-dark: #13a3a3;
$color-primary-light: #15b2b2;
$color-secondary: #39393C;
$color-white: #fff;
$color-black: #111;
$color-gray-light: #F5F5F5;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Poppins', sans-serif;